/*zh 2016 0310*/
@charset "utf-8";
@import  "helpers/_mixins.scss";  
footer{
	p{
		text-align: center;
		color: #fff;
		font-size:12px;
	}
	.footer_list{
		margin: 20px 0 10px 0;
		span{
			display: inline-block;
			padding:0 10px;
		}
		a{
			color: #fff;
		}
	}
}