@charset "UTF-8";
/*首页index*/
.app {
  background: #fff; }
  .app .app_one {
    height: 870px;
    background: url(../images/app1.jpg); }
    .app .app_one .one {
      position: relative; }
      .app .app_one .one .app_btn {
        position: absolute;
        bottom: 0;
        left: 70px;
        height: 364px;
        width: 600px; }
        .app .app_one .one .app_btn .btn {
          width: 240px;
          height: 150px;
          float: left; }
          .app .app_one .one .app_btn .btn a {
            display: block;
            width: 240px;
            height: 56px;
            margin-bottom: 20px; }
  .app .app_two {
    height: 915px; }
  .app .app_three {
    height: 750px;
    background: url(../images/app3.jpg); }
  .app .iphone {
    background: url(../images/iphone.png); }
  .app .android {
    background: url(../images/android.png); }
  .app .qr {
    float: left;
    width: 130px;
    height: 130px;
    background: url(../images/down.png);
    background-size: 100% 100%;
    margin-left: 106px; }
  .app .button {
    padding: 70px 0; }
    .app .button .qr {
      border: 1px solid #ff9c00; }
    .app .button a {
      display: inline-block;
      width: 240px;
      height: 56px;
      margin-left: 50px;
      margin-top: 35px; }

.creditor .creditor1, .creditor .creditor2, .creditor .creditor3, .creditor .creditor4, .creditor .creditor5 {
  width: 100%; }

.creditor .creditor1 {
  height: 442px;
  background: url(../images/creditor1.jpg);
  background-position: center; }

.creditor .creditor2 {
  height: 488px;
  background: url(../images/creditor2.jpg);
  background-position: center; }

.creditor .creditor3 {
  height: 202px;
  background: url(../images/creditor3.jpg);
  background-position: center; }

.creditor .creditor4 {
  height: 480px;
  background: url(../images/creditor4.jpg);
  background-position: center; }

.creditor .creditor5 {
  height: 477px;
  background: url(../images/creditor5.jpg);
  background-position: center; }

.security {
  background: #f7f7f7; }
  .security .security1, .security .security2, .security .security3, .security .security4 {
    width: 100%; }
  .security .se_layout {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto; }
  .security .security1 {
    height: 763px;
    background: url(../images/security1.jpg);
    background-position: center; }
  .security .security2 {
    padding: 60px 0;
    text-align: center; }
    .security .security2 .little {
      display: inline-block;
      font-size: 24px;
      color: #5e5e5e;
      margin: 20px 0; }
    .security .security2 .border {
      display: inline-block;
      width: 470px;
      height: 20px; }
      .security .security2 .border span {
        display: inline-block;
        width: 100%;
        padding-top: 5px;
        border-top: 1px solid #333; }
    .security .security2 .font {
      display: inline-block;
      width: 200px;
      text-align: center;
      font-size: 40px; }
    .security .security2 .border_left {
      border-right: 1px solid #333; }
    .security .security2 .border_right {
      border-left: 1px solid #333; }
  .security .security3 {
    height: 300px; }
    .security .security3 ul {
      padding: 0 80px; }
      .security .security3 ul li {
        width: 25%;
        height: 100%;
        text-align: center;
        float: left; }
        .security .security3 ul li i {
          display: inline-block;
          width: 130px;
          height: 130px;
          background: url(../images/security.png); }
        .security .security3 ul li span {
          display: block;
          font-size: 16px;
          color: #5e5e5e; }
        .security .security3 ul li .two {
          background-position: -130px 0; }
        .security .security3 ul li .three {
          background-position: -260px 0; }
        .security .security3 ul li .four {
          background-position: -390px 0; }
  .security .rules {
    width: 100%;
    background: #fff;
    padding-bottom: 80px; }
    .security .rules .security4 {
      width: 1261px;
      height: 763px;
      margin: 0 auto;
      background: url(../images/security4.jpg); }
  .security .security5 {
    height: 430px; }
    .security .security5 ul {
      padding: 0 80px; }
      .security .security5 ul li {
        width: 33.3%;
        height: 360px;
        float: left; }
        .security .security5 ul li .box {
          width: 288px;
          height: 358px;
          border: 1px solid #ff7f00;
          margin: 0 auto; }
          .security .security5 ul li .box .title {
            width: 100%;
            height: 73px;
            background: #ff7f00;
            text-align: center;
            line-height: 73px;
            color: #fff;
            font-weight: 800;
            font-size: 18px; }
          .security .security5 ul li .box .img {
            width: 100px;
            height: 100px;
            margin: 60px auto 10px; }
            .security .security5 ul li .box .img i {
              width: 100%;
              height: 100%;
              background: url(../images/security.png); }
            .security .security5 ul li .box .img .one {
              background-position: -520px 0; }
            .security .security5 ul li .box .img .two {
              background-position: -615px 0; }
            .security .security5 ul li .box .img .three {
              background-position: -720px 0; }
          .security .security5 ul li .box .text {
            padding: 0 10px; }
            .security .security5 ul li .box .text span {
              font-size: 14px;
              color: #333; }

.pay .pay1, .pay .pay2, .pay .pay3, .pay .pay4, .pay .pay5 {
  width: 100%; }

.pay .pay1 {
  height: 631px;
  background: url(../images/pay1.jpg);
  background-position: center; }

.pay .pay2 {
  height: 510px;
  background: url(../images/pay2.jpg);
  background-position: center; }

.pay .pay3 {
  height: 584px;
  background: url(../images/pay3.jpg);
  background-position: center; }

.pay .pay4 {
  height: 511px;
  background: url(../images/pay4.jpg);
  background-position: center; }

.pay .pay5 {
  height: 615px;
  background: url(../images/pay5.jpg);
  background-position: center; }
