@charset "UTF-8";
/*首页index*/
/*分页共通样式*/
.somePage {
  width: 1000px;
  margin: 10px auto 0;
  text-align: right; }
  .somePage a {
    /*padding: 0 9px;*/
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 3px;
    display: inline-block;
    text-align: center;
    border: 1px solid #dbdada;
    color: #666;
    font-weight: 700;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .somePage a:hover {
      background: #ff9c00;
      color: #fff;
      border: 1px solid #ff9c00; }
  .somePage .iconPagePrev, .somePage .iconPageNext {
    padding: 0 9px;
    width: 50px;
    height: 26px;
    line-height: 26px;
    color: #666;
    border: 1px solid #dbdada;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -o-border-radius: 13px;
    border-radius: 13px; }
    .somePage .iconPagePrev:hover, .somePage .iconPageNext:hover {
      background: #ff9c00;
      color: #fff;
      border: 1px solid #ff9c00; }
  .somePage a.current {
    background: #ff9c00;
    color: #fff;
    border: 1px solid #ff9c00; }

.container {
  /*display: flex;*/
  min-height: 65vh;
  /*flex-direction: column;*/
  /*.content{
        flex: 1; 
	}*/ }

.question {
  background: url(../images/sprite.png);
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: -125px -137px;
  margin-top: 5px; }
  .question:hover {
    background-position: -143px -137px; }

.recharge_content {
  background: #fff;
  padding: 15px 15px; }
  .recharge_content .info_tab {
    height: 47px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    line-height: 47px;
    border-bottom: 3px solid #eaeaea; }
    .recharge_content .info_tab li {
      float: left;
      width: auto;
      min-width: 110px;
      height: 47px;
      line-height: 47px;
      text-align: center;
      padding: 0 10px;
      font-size: 16px; }
      .recharge_content .info_tab li a {
        color: #696969; }
    .recharge_content .info_tab .i_selected {
      border-bottom: 3px solid #ff9c00;
      color: #ff9c00; }
    .recharge_content .info_tab .i_selected a[href] {
      color: #ff9c00; }
  .recharge_content .couponTable {
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    border-collapse: collapse; }
    .recharge_content .couponTable .theCouponTable {
      border: 1px solid #ececec;
      border-bottom: 0; }
    .recharge_content .couponTable .tabhead {
      border-width: 0px 1px 1px 0px;
      background: #ececec;
      border-bottom: none;
      height: 38px !important;
      line-height: 38px !important;
      position: relative;
      font-weight: 800; }
      .recharge_content .couponTable .tabhead span {
        line-height: 38px;
        float: left;
        display: inline-block; }
    .recharge_content .couponTable .identifier {
      width: 15%;
      padding-left: 10px;
      box-sizing: border-box; }
    .recharge_content .couponTable .faceValue {
      width: 13%; }
    .recharge_content .couponTable .lasts {
      width: 10%; }
    .recharge_content .couponTable .UseRule {
      width: 19%; }
    .recharge_content .couponTable .quarry {
      width: 15%; }
    .recharge_content .couponTable .issueDate {
      width: 15%; }
  .recharge_content .tabcontent {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #696969;
    border-bottom: 1px solid #ececec; }
    .recharge_content .tabcontent span {
      float: left;
      display: inline-block; }
    .recharge_content .tabcontent .num {
      color: #ff9c00; }
    .recharge_content .tabcontent .UseRule {
      vertical-align: middle;
      line-height: 1;
      display: table-cell;
      height: 50px; }
      .recharge_content .tabcontent .UseRule p.x {
        vertical-align: middle;
        line-height: 1;
        width: 100%;
        white-space: normal;
        max-height: 50px;
        overflow: hidden;
        margin: 0 auto;
        -webkit-margin-before: 0; }
    .recharge_content .tabcontent .quarry {
      vertical-align: middle;
      line-height: 1;
      display: table-cell;
      height: 50px; }
      .recharge_content .tabcontent .quarry p.x2 {
        vertical-align: middle;
        line-height: 1;
        width: 100%;
        white-space: normal;
        max-height: 50px;
        /* overflow: hidden; */
        margin: 0 auto;
        -webkit-margin-before: 0;
        /*text-align: center;*/ }
    .recharge_content .tabcontent .quarry, .recharge_content .tabcontent .issueDate {
      display: table-cell; }
  .recharge_content .somePage {
    width: 970px;
    padding: 40px 0 20px; }
  .recharge_content .couponTip a {
    width: 130px;
    height: 30px;
    border: 1px solid #696969;
    background: #fff;
    font-size: 14px;
    line-height: 30px;
    margin-right: 20px; }
    .recharge_content .couponTip a:hover {
      background: #ff9c00;
      color: #fff;
      border-color: #ff9c00; }
  .recharge_content .xm_merge {
    width: 100%;
    font-size: 12px;
    padding: 40px 0 20px; }
    .recharge_content .xm_merge span {
      display: block;
      padding-bottom: 10px;
      color: #999; }
    .recharge_content .xm_merge .fn_blue {
      color: #299dff;
      display: inline-block; }

/*我的信息页面样式*/
.message .lnk_btn {
  border: 1px solid #ff9c00;
  background: #ff9c00;
  cursor: pointer;
  color: white;
  padding: 2px 15px;
  margin-right: 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

.message .term_list {
  margin-bottom: 10px; }
  .message .term_list table {
    width: 100%;
    border: 1px solid #ececec;
    border-bottom: none; }
    .message .term_list table thead {
      background: #ececec; }
      .message .term_list table thead tr {
        height: 38px; }
    .message .term_list table tbody {
      font-size: 12px;
      color: #696969; }
      .message .term_list table tbody tr {
        border-bottom: 1px solid #ececec;
        height: 50px; }
        .message .term_list table tbody tr a {
          vertical-align: middle;
          line-height: 1;
          width: 100%;
          white-space: normal;
          max-height: 50px;
          overflow: hidden;
          margin: 0 auto;
          -webkit-margin-before: 0;
          padding-right: 20px;
          box-sizing: border-box;
          color: #696969; }
          .message .term_list table tbody tr a:hover {
            color: #ff9c00; }
    .message .term_list table i {
      display: inline-block;
      width: 17px;
      height: 13px; }
    .message .term_list table .icoUnread {
      background-position: -233px -155px; }
    .message .term_list table .icoRead {
      background-position: -215px -155px; }

/*投资记录页面样式*/
.investment .info_tab .type, .debt .info_tab .type {
  font-size: 16px; }

.investment .info_tab a.type, .debt .info_tab a.type {
  padding: 0 10px;
  color: #696969; }
  .investment .info_tab a.type:hover, .debt .info_tab a.type:hover {
    color: #ff9c00; }

.investment .tender_money {
  height: 200px;
  margin-top: 10px; }
  .investment .tender_money .tender_money_float {
    width: 450px;
    height: 200px;
    background-color: #ececec; }
  .investment .tender_money .tender_name {
    display: inline-block;
    width: 100%;
    height: 20px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 25px; }
  .investment .tender_money .tender_num {
    display: inline-block;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #ff9c00; }
  .investment .tender_money .fontsize8 {
    font-size: 18px;
    font-weight: bold; }
  .investment .tender_money .fontsize12 {
    font-size: 36px; }
  .investment .tender_money .fontsize4 {
    font-size: 14px;
    color: #333; }

/*回款计划样式*/
.payment .payment_title {
  font-size: 16px;
  padding-left: 65px; }

.payment .payment_tab {
  width: 840px;
  padding: 0 65px; }
  .payment .payment_tab li {
    width: 33%;
    float: left; }
    .payment .payment_tab li .title {
      color: #5e5e5e;
      padding: 20px 0 46px; }
    .payment .payment_tab li .num {
      padding-bottom: 63px;
      font-size: 40px;
      color: #ff9c00; }
    .payment .payment_tab li .cont {
      font-size: 40px;
      padding-bottom: 63px; }
    .payment .payment_tab li .month {
      font-size: 16px; }
    .payment .payment_tab li i {
      width: 20px;
      height: 20px;
      background-position: 0 -365px;
      margin: 0 10px; }

.payment .payment_term {
  width: 840px;
  padding: 0 65px; }
  .payment .payment_term th {
    width: 20%; }

.payment .somePage {
  width: 840px; }

.payment .settlement {
  width: 840px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 16px;
  color: #696969;
  border-top: 1px solid #ececec; }
  .payment .settlement .num {
    color: #ff9c00; }

/*借款还款明细样式*/
.prepayment {
  background: #fff; }
  .prepayment h3 {
    padding: 20px 0;
    font-size: 16px;
    display: inline-block; }
  .prepayment .return {
    font-size: 14px;
    color: #299dff;
    line-height: 64px;
    text-decoration: underline; }
