@charset "UTF-8";
/*首页index*/
/*错误提示共通样式*/
.tip {
  position: absolute;
  /*line-height: 22px;*/
  background-color: #fff;
  border: 1px solid #ff9c00;
  color: #ff9c00;
  z-index: 100;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  padding: 10px; }

.tip_show {
  opacity: 1;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

.tip:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 10px;
  background: url(../images/sprite.png) no-repeat;
  background-position: -317px -21px;
  left: 50%;
  top: -10px;
  margin-left: -7px; }

.tip:after {
  content: "";
  display: block; }

.error {
  position: absolute; }
  .error i {
    background-position: -160px -137px;
    width: 19px;
    height: 18px;
    margin-right: 5px; }

.content {
  position: relative;
  width: 1000px;
  height: auto;
  margin: 40px auto; }
  .content form {
    width: 100%;
    height: auto;
    background: #fff; }
    .content form .info_detail {
      padding: 20px 0 20px 15px; }
      .content form .info_detail table {
        font-size: 12px;
        color: #333; }
        .content form .info_detail table .fontcolor1 .change_pic {
          position: absolute;
          width: 86px;
          height: 18px;
          top: 96px;
          text-align: center;
          line-height: 18px;
          color: #fff;
          background: rgba(0, 0, 0, 0.5); }
        .content form .info_detail table .fontcolor1 .file {
          position: relative;
          display: inline-block;
          background: #f3f3f3;
          border: 1px solid #cccccc;
          border-radius: 4px;
          padding: 2px 12px;
          overflow: hidden;
          color: #9b9b9b;
          text-decoration: none;
          text-indent: 0;
          line-height: 20px;
          box-shadow: 0 0 5px #ccc; }
          .content form .info_detail table .fontcolor1 .file:hover {
            background: #ff9c00;
            border-color: #ff9c00;
            color: #fff;
            text-decoration: none; }
          .content form .info_detail table .fontcolor1 .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0; }
        .content form .info_detail table .fontcolor1 .fileerrorTip1 {
          position: absolute;
          padding-left: 6px;
          height: 25px;
          color: #999;
          text-align: left;
          line-height: 25px;
          overflow: hidden; }
        .content form .info_detail table .fontcolor1 .showFileName1 {
          position: absolute;
          padding-left: 6px;
          height: 25px;
          color: #999;
          text-align: left;
          line-height: 25px;
          overflow: hidden;
          display: none; }
        .content form .info_detail table .info_detail_small {
          height: 40px; }
          .content form .info_detail table .info_detail_small .fontcolor2 {
            width: 11%; }
          .content form .info_detail table .info_detail_small .fontcolor3 {
            width: 7%; }
          .content form .info_detail table .info_detail_small .fontcolor1 input {
            padding-left: 10px;
            width: 250px;
            height: 28px;
            color: #6e6e6e;
            border: 1px solid #cccccc;
            box-sizing: border-box; }
          .content form .info_detail table .info_detail_small .fontcolor1 select {
            padding-left: 5px;
            width: 250px;
            height: 28px;
            color: #6e6e6e;
            border: 1px solid #cccccc; }
          .content form .info_detail table .info_detail_small .fontcolor1 .select2 {
            width: 115px; }
          .content form .info_detail table .info_detail_small .fontcolor1 .btn_orange {
            border: 0;
            border: 0;
            font-size: 18px;
            color: #fff;
            width: 120px;
            height: 30px;
            margin-left: 65px;
            background: #ff9c00;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -o-border-radius: 30px;
            border-radius: 30px; }
            .content form .info_detail table .info_detail_small .fontcolor1 .btn_orange:hover {
              background: #feae32; }
