@charset "UTF-8";
/*首页index*/
.content .error_page {
  width: 719px;
  height: 244px;
  margin: 180px auto;
  background: url(../images/error.png) no-repeat;
  position: relative; }
  .content .error_page .error {
    position: absolute;
    top: 100px;
    left: 270px; }
    .content .error_page .error a {
      color: #ff9c00; }
