@charset "UTF-8";
/*首页index*/
/*分页共通样式*/
.somePage {
  width: 1000px;
  margin: 10px auto 0;
  text-align: right; }
  .somePage a {
    /*padding: 0 9px;*/
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 3px;
    display: inline-block;
    text-align: center;
    border: 1px solid #dbdada;
    color: #666;
    font-weight: 700;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .somePage a:hover {
      background: #ff9c00;
      color: #fff;
      border: 1px solid #ff9c00; }
  .somePage .iconPagePrev, .somePage .iconPageNext {
    padding: 0 9px;
    width: 50px;
    height: 26px;
    line-height: 26px;
    color: #666;
    border: 1px solid #dbdada;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -o-border-radius: 13px;
    border-radius: 13px; }
    .somePage .iconPagePrev:hover, .somePage .iconPageNext:hover {
      background: #ff9c00;
      color: #fff;
      border: 1px solid #ff9c00; }
  .somePage a.current {
    background: #ff9c00;
    color: #fff;
    border: 1px solid #ff9c00; }

.container {
  /*display: flex;*/
  min-height: 65vh;
  /*flex-direction: column;*/
  /*.content{
        flex: 1;
	}*/ }

.bill_term {
  padding: 15px 15px;
  background: #fff; }
  .bill_term h3 {
    font-size: 16px;
    color: #333; }
  .bill_term .time_filter {
    width: 100%;
    padding: 15px 0;
    height: 50px; }
    .bill_term .time_filter span {
      color: #696969; }
      .bill_term .time_filter span input {
        width: 136px;
        height: 30px;
        line-height: 30px;
        background: url(../images/dataPicker.png) no-repeat right;
        box-sizing: border-box; }
    .bill_term .time_filter .search {
      display: inline-block;
      width: 60px;
      height: 30px;
      color: #fff;
      text-align: center;
      line-height: 30px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
      background-color: #ff9c00;
      margin-left: 26px; }
  .bill_term .term {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 15px 0; }
    .bill_term .term tr {
      height: 50px; }
      .bill_term .term tr td a {
        color: #999999; }
      .bill_term .term tr .selected {
        background: #ff9c00;
        color: #fff;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px; }
    .bill_term .term .time_filter_link .selected {
      padding: 3px 8px; }
    .bill_term .term .type_filter_link .selected {
      padding: 3px 10px; }
  .bill_term .table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    box-sizing: border-box;
    font-size: 12px; }
    .bill_term .table thead {
      background: #e6e6e6;
      font-size: 14px; }
      .bill_term .table thead tr {
        height: 38px; }
    .bill_term .table th:first-child, .bill_term .table td:first-child {
      padding-left: 15px;
      box-sizing: border-box; }
    .bill_term .table tbody tr {
      height: 60px;
      border-bottom: 1px solid #e6e6e6;
      box-sizing: border-box; }
      .bill_term .table tbody tr td {
        color: #696969; }
      .bill_term .table tbody tr td:last-child {
        padding-right: 15px; }
      .bill_term .table tbody tr .text-danger {
        color: #ff9c00; }
  .bill_term .block-no-record {
    padding: 3em 0;
    text-align: center;
    font-size: 18px;
    color: #777; }
  .bill_term .somePage {
    width: 970px;
    padding: 40px 0 20px; }
  .bill_term .tips {
    margin-top: 36px; }
    .bill_term .tips h4 {
      color: #333;
      font-size: 16px;
      margin-bottom: 30px; }
    .bill_term .tips p {
      color: #696969;
      line-height: 26px; }
