.paySuccess .layout {
  min-height: 650px;
  background-color: #fff;
  padding-top: 30px; }
  .paySuccess .layout h4 {
    margin-bottom: 90px;
    text-align: center; }
  .paySuccess .layout p {
    text-align: center; }
    .paySuccess .layout p:nth-of-type(1) {
      font-size: 24px;
      margin-bottom: 30px; }
      .paySuccess .layout p:nth-of-type(1) i {
        width: 50px;
        height: 42px;
        background-position: -42px -471px;
        margin-right: 20px; }
    .paySuccess .layout p:nth-of-type(2) {
      font-size: 18px;
      margin-bottom: 50px; }
      .paySuccess .layout p:nth-of-type(2) span {
        font-weight: bold;
        margin-left: 5px; }
        .paySuccess .layout p:nth-of-type(2) span em {
          font-style: normal;
          margin-left: 5px;
          color: #f43500; }
    .paySuccess .layout p:nth-of-type(3) a {
      color: #5e5e5e;
      font-size: 16px; }
      .paySuccess .layout p:nth-of-type(3) a:hover {
        color: #ff9c00; }
    .paySuccess .layout p:nth-of-type(3) a.btn_status_false {
      width: 170px;
      height: 38px;
      line-height: 38px;
      font-size: 18px;
      color: #fff;
      margin-left: 32px; }
