@charset "UTF-8";
/*首页index*/
/*错误提示共通样式*/
.tip {
  position: absolute;
  /*line-height: 22px;*/
  background-color: #fff;
  border: 1px solid #ff9c00;
  color: #ff9c00;
  z-index: 100;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  padding: 10px; }

.tip_show {
  opacity: 1;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

.tip:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 10px;
  background: url(../images/sprite.png) no-repeat;
  background-position: -317px -21px;
  left: 50%;
  top: -10px;
  margin-left: -7px; }

.tip:after {
  content: "";
  display: block; }

.error {
  position: absolute; }
  .error i {
    background-position: -160px -137px;
    width: 19px;
    height: 18px;
    margin-right: 5px; }

.content {
  position: relative;
  width: 1000px;
  height: auto;
  margin: 40px auto; }
  .content .order_progress_box {
    width: 100%;
    height: 98px;
    margin: 0 auto 10px;
    background: #fff;
    overflow: hidden; }
    .content .order_progress_box .process_wrap {
      width: 650px;
      margin: 25px auto; }
      .content .order_progress_box .process_wrap .order_ready {
        position: relative;
        width: 24px;
        height: 24px;
        float: left;
        background-image: url(../images/sprite.png); }
        .content .order_progress_box .process_wrap .order_ready span {
          position: absolute;
          top: 30px;
          left: -48px;
          width: 120px;
          height: 20px;
          text-align: center;
          font-size: 14px;
          color: #333; }
      .content .order_progress_box .process_wrap .order_doing {
        position: relative;
        width: 255px;
        height: 2px;
        left: 28px;
        top: 11px;
        background-image: url(../images/sprite.png);
        background-position: -125px -5px; }
      .content .order_progress_box .process_wrap .order_done {
        background-position: -125px -15px; }
      .content .order_progress_box .process_wrap .done {
        background-position: -470px 0;
        /*background-size: 100% 100%; */ }
      .content .order_progress_box .process_wrap .no_pay {
        background-position: -380px 0;
        /*left:262px;
                top:-4px;*/ }
  .content .project_info {
    width: 100%;
    height: auto;
    background: #fff; }
    .content .project_info h3 {
      font-size: 16px;
      font-style: normal;
      padding: 20px 0 10px 15px;
      color: #333; }
    .content .project_info table {
      padding: 0 15px 10px; }
      .content .project_info table tbody td {
        font-size: 14px;
        color: #333;
        padding: 20px 0; }
      .content .project_info table tbody .padl85 {
        padding-left: 85px; }
      .content .project_info table tbody .pro_name {
        width: 250px; }
      .content .project_info table tbody .Yield {
        width: 150px; }
      .content .project_info table tbody .Investment {
        width: 100px; }
      .content .project_info table tbody .Payment_date {
        width: 150px; }
      .content .project_info table tbody .Payment_total {
        width: 150px; }
      .content .project_info table tbody .time_num {
        width: 150px; }
  .content .transfer_info {
    width: 100%;
    height: auto;
    background: #fff;
    padding-bottom: 20px; }
    .content .transfer_info h3 {
      font-size: 16px;
      font-style: normal;
      padding: 20px 0 10px 15px;
      color: #333;
      border-bottom: 1px solid #e6e6e6; }
      .content .transfer_info h3 span {
        float: right;
        font-size: 12px;
        color: #999999;
        width: 100px;
        padding-right: 20px;
        cursor: pointer; }
        .content .transfer_info h3 span:hover {
          color: #ff9c00; }
          .content .transfer_info h3 span:hover i {
            background-position: -143px -137px; }
        .content .transfer_info h3 span i {
          width: 18px;
          height: 18px;
          margin: -4px 0 0 3px;
          background-position: -125px -137px; }
    .content .transfer_info .transfer_box {
      width: 180px;
      height: 205px;
      margin: 40px auto 0; }
      .content .transfer_info .transfer_box p {
        width: 100%;
        line-height: 14px;
        padding-bottom: 10px;
        overflow: hidden;
        color: #696969; }
        .content .transfer_info .transfer_box p span {
          float: left;
          line-height: 14px; }
        .content .transfer_info .transfer_box p .with100 {
          width: 100px;
          height: 14px; }
      .content .transfer_info .transfer_box .pt20 {
        padding-top: 20px;
        border-top: 1px solid #e6e6e6; }
      .content .transfer_info .transfer_box .btn_next {
        text-align: center;
        display: block;
        width: 120px;
        height: 30px;
        line-height: 30px;
        background: #ff9c00;
        margin: 10px auto 0;
        color: #fff;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -o-border-radius: 30px;
        border-radius: 30px; }
        .content .transfer_info .transfer_box .btn_next:hover {
          background: #feae32; }
