@charset "utf-8";
/*首页index*/
@import  "helpers/_mixins.scss";                  //常用变量定义
@import  "components/banner.scss";                  //banner

%indexlayout {
	width:1280px;
	margin:0 auto;
	padding:0px;
} 
.announcement{
	margin-top: 30px;
	height:44px;
	line-height:44px;
	background-color:#36251b;
	overflow:hidden;
	color: #fff;
	ul{
		padding-left:10px;
		li{
			a{
				color:$seColor;
			}
			
		}
	}
	
	span{
		
	}
	i{
		width:14px;
		height:20px;
		margin:-2px 6px 0 0;
		background-position:-39px 0;
	}
	.inforeveal{
		background-color:$seColor;
		font-size:14px;
		width:70px;
		height:20px;
		line-height:20px;
		color:$whiteColor;
		margin:0 10px;
		@include border-radius(10px)
	}
}
.announcementshow{
	height:140px;
	font-size:14px;
	p{
		margin:30px 0 10px;
	}
	.announcementshow_l{
		width:380px;
		i{
			background-position:-103px -364px;
			
		}
	}
	.announcementshow_m{
		width:380px;
		i{
			background-position:-128px -364px;
			
		}
	}
	.announcementshow_r{
		i{
			background-position:-153px -364px;
			
		}
	}
	span{
		color:$seColor;
		font-size:28px;
	}
	i{
		width:25px;
		height:25px;
		margin:-12px 10px 0 0;
	}
}
.content{
	.new_list{
		height: 260px;
		background: #36251b;
		margin:60px auto 100px;
		position: relative;
	}
	.video{
		width: 354px;
		height: 338px;
		position: absolute;
		left: 75px;
		top:-35px;
		background: #36251b;
		float: left;
		.title{
			font-weight: 800;
			font-size: 16px;
			line-height: 35px;
			color: #ffe060;
			padding-left:10px;
			.title_s{
				color: #4a3325;
				padding-left: 15px;
			}
		}
		img{
			display: block;
			width: 442px;
			height: 250px;
			/*margin-top: 5px;*/
		}
		p{
			width: 318px;
			height: 45px;
			margin-top: 5px;
			padding-left: 10px;
			color: #835d37;
			border-top: 1px solid #463122;
		}
	}
	.new_item{
		width: 293px;
		height: 100%;
		position: absolute;
		left: 597px;
		top:0;
		li{
			height: 95px;
			img{
				width: 133px;
				height: 95px;
				float: left;
			}
			.container{
				float: right;
				width: 150px;
				height: 58px;
				.title{
					font-weight: 800;
					font-size: 16px;
					line-height: 30px;
					color: #ffe060;
					.title_m{
						color: #4a3325;
						font-size: 14px;
						padding-left: 15px;
					}
				}
				.text{
					font-size: 12px;
					color: #6c4b2f;
				}
				.more{
					display: inline-block;
					color: #7b5734;
					margin-top: 10px;
					font-size: 12px;
				}
			}

		}
		li:first-child{
			margin:20px 0 30px;
		}
	}
	.phone_img{
		position: absolute;
		right: 70px;
		top:-20px;
	}
	.about{
		margin-top: 40px;
		.about_left{
			float: left;
			width: 282px;
			margin:30px 0 0 135px;
			.name{
				width: 100%;
				height: 30px;
			}
			.about_txt{
				a{
					font-size: 12px;
				color: #fff;
				}
				
			}
		}
		.picture{
			float: left;
			margin-left: 40px;
			width: 300px;
			height: 226px;
		}
		.about_word{
			float: left;
			width: 360px;
			height:213px;
			color: #fff;
			margin:0 0 0 40px;
			span{
				display: inline-block;
			}
			.blon{
				font-weight: 800;
				padding-bottom: 10px;
			}
			.ab_first{
				padding-bottom: 120px;
			}
			.ab_left{
				float: left;
			}
			.ab_right{
				float: right;
				a{
					display: block;
				    width: 96px;
				    height: 36px;
				    margin: 5px 0;
				}
			}
			.ios{
					width: 96px;
					height: 91px;
					display: inline-block;
				}
		}

	}
}


